<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
    <title>Login</title>
</head>
<body>
    <div id="container">
        <h1>Welcome to workout partner</h1>
        <form class="login" action="/login" method="post">
            {% csrf_token %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li> {{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <input class="input-login" class="input-email" type="email" name="email" placeholder="Email">
            <input class="input-login" type="password" name="password" placeholder="Password">
            <input class="button" type="submit" value="Login">
            <hr>
            <a href="/registerPage">Register</a>
        </form>
       
    </div>
</body>
</html>